	/*	PP = Product Page	*/
	/*	FP = Front Page	*/
	/*	CP = Cart Page	*/

	:root {

		/*	Colors	*/
		--background: #f8f5f3;
		--foreground: white;
		--secondary-color: #C79447;
		--font-color: rgba(0, 0, 0, 0.8);

		/*	Fonts	*/
		--heading-font: 'Aldrich', sans-serif;
		--button-font: 'DM sans', sans-serif;
		--content-font: 'Barlow', sans-serif;
		--pp-price-font: 'DM sans', sans-serif, medium;


		/*	Font size mobile	*/
		--heading-size-mobile: 24px;
		--button-size-mobile: 14px;
		--fp-model-size-mobile: 14px;
		--pp-price-size-mobile: 24px;
		--pp-lead-size-mobile: 16px;
		--pp-brand-size-mobile: 20px;
		--pp-model-size-mobile: 20px;
		--cp-info-size-mobile: 12px;
		--cp-price-size-mobile: 16px;


		/*	Font size desktop	*/
		--heading-size-desktop: 48px;
		--button-size-desktop: 18px;
		--fp-brand-size-desktop: 20px;
		--fp-model-size-desktop: 18px;
		--fp-price-size-desktop: 22px;
		--pp-price-size-desktop: 40px;
		--pp-lead-size-desktop: 18px;
		--pp-brand-size-desktop: 30px;
		--pp-model-size-desktop: 24px;
		--cp-info-size-desktop: 18px;
		--cp-price-size-desktop: 20px;


		/*	Box Shadow	*/
		--box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
	}